<% include ../../header.html %>
<% include ../../top-nav.html %>

<style>
    div.budget3info{
        padding-top:60px;
        padding-bottom: 60px;
    }

    img.budgetimg{
        margin: 0px 20px 20px 20px;
        width: 600px;
        height: auto;
        border: 2px solid #f1f1f1;
    }

    div.budgettxt{
        padding-top: 20px;
    }

    div.budgetdonwload{
        padding-top: 50px;
        text-align: center;
        padding-bottom: 100px;
    }
</style>

<div class="jumbotron ">
<div class="container">

<div class="budget3info">
    <img  class="pull-right budgetimg" src="/public/img/budget3/1.png">

    <div class="budgettxt">
    <p>
            <strong>永大网络造价平台</strong> 是2004年研发完成，主要针对浙江省2003定额03清单开发的配套计价软件，
            当时就有技术超越同行，已经开始考虑互联网功能，第一次全国推出账号登录，撤消重做、在线增加升级等其他软件没有的功能。
            本软件还将工程量计算与报价二合一于一网络平台实现，使工程量计算与套价无缝连接。软件绿色小巧，不采用第三方组件，无需注册安装直接使用，易于拷贝移动，速度极快。 ！
    </p>

    <div class="budgetdonwload">
        <button class="btn btn-success "><i class="icon fa fa-arrow-down"></i> 如下载试用，请进入永大软件交流QQ群（12786588）的共享文件内下载</button>
    </div>

    </div>
 
</div>    

<div>
    <h2 class="color-yongda">维护情况</h2>
   <P> 
       1.2017-5-1 推出4.0 版本，主要是针对时隔8年没有更新，以这8年来的用户常用的功能增加，
       比如是标签功能。如你还在使用这个产品建议你升级。
    </P>

    <p>
        2. 我们将这个产品定位于行业计价的范畴，将用于处理国土、水利、港口、通信等行业造价。
    </p>


    <h2 class="color-yongda">软件功能</h2>
    <p>1. 国内第一款基于网络的造价软件，记住帐号密码即可使用，帐号永不丢失（同时支持无驱硬件狗）。</p>
    <p>2. 国内第一款具备“撤消”与“恢复”操作的造价软件，从此不必担心因误操作而浪费时间。</p>
    <p>3. 国内第一款具备邮件发送功能的造价软件，不需复杂操作即可发送当前工程文件到指定邮箱。</p>
    <p>4. 国内第一款同时具备有工程量计算与套价功能的软件。</p>
    <p>5. 开发团队成员具有丰富的行业经验，产品具备主流软件的优秀功能，尊重用户使用习惯。</p>
    <p>6. 纯绿色小巧软件，直接拷贝移动即可使用。不引用第三方组件，用户不需要重新安装，不使用注册码。</p>
    <p>7. 用户可通过脚本功能进行二次开发，完成符合当地实际情况。</p>
    <p>8. 优秀的报表编辑技术，简单易用，目前还未遇到无法制作编辑的报价样式（大量用户为证）。</p>
    <p>9. 独创的文件存储优化技术及计算方法，单个工程文件只有100多kb,与其他公司的软件小10倍左右。</p>
    <p>10. 做一份工程出三份报价(工料单价法、综合单价法、非国标)。</p>
    <p>11. 对机器系统要求不高。不必安装ADO,BDE等驱动，采用独立的数据引擎。</p>
    <p>12. 独创“共享文件夹”功能，同事之间传递工程文件更方便。</p>
    <p>13. 任意数据页面可导出到EXCEL，速度极快。</p>
    <p>14. 算法经严格测试、精度保证、定额换算快捷灵活、轻松实现自主报价。</p>
    <p>15. 在线升级，随时使用最新版本。</p>

</div>

</div>
</div>


<% include ../../footer.html %>