<% include ../header.html %>
<% include ../top-nav.html %>

<style>
    div.aboutme{
        padding-top: 60px;
    }
    img.our{
        margin: 0px 20px 20px 20px;
        width: 500px;
        height: auto;
    }
</style>

<div class="jumbotron ">
        <div class="container">
            <div class="aboutme">
            <div class="row">
            <div class="col-md-6 col-xs-12" >   
            
            </div>
            <div class="col-md-6 col-xs-12">
               
            </div>
            </div>

            
                <div class="pull-right">
                    <img class="our" src="/public/img/our.jpg" >
                    <div style="text-align: center">2017年公司组织南尖岩旅游 </div>
                    <div style="text-align: center"><a href="#">更多团建活动...</a></div>
                </div>

                <p class="text-muted">
                        <strong>杭州永大软件有限公司</strong>，成立于2005年。自成立以来，一直从事建筑行业的软件工具类及系统类的产品开发。目的是提高建筑造价朋友们的工作效率，
                        2005起先后研发了永网网络计价平台、永大电力计价软件、造价咨询项目管理系统、专家评标系统等。
                        本着"爱亲人、爱客户、爱员工" 的企业文化、“要做只做更好”的产品理念坚持到现在。
                        十几年来，我们的产品服务一直在线，持续为社会创造着价值。
                    </p>

            <h3 class="color-yongda">团队</h3>
            <p>1. 研发团队, 专注于建筑软件产品开发十多年，公司有成熟的开发框架及研发管理经验。 曾经先后开发过创佳公路行业计价产品、广达2003、永大网络计价平台、擎洲广达计价软件，擎洲远程招投标系统。</p>
            <p>2. 销售团队， 有着十几年行业浙江客户资源。</p>

            <h3 class="color-yongda">管理</h3>
            <p>公司提倡”工程师“文化，以结果有导向。公司在创办初期两个人时就以信息化平台进行管理，有自己的运营系统（DEVE）。所有员工都围绕着系统进行考核，做到有量化考核。
                每个员按《永大基本法》规范自己的行为。</p>
            <h3 class="color-yongda">目标</h3>
            <p>力争在浙江能得到用户认可，并成功成为浙江省第三家建筑软件产品服务提供商。</p>
            <h3 class="color-yongda">新人培养</h3>
            <p> 公司CEO始终认为没有培养新人能力的公司是没有生命力的。公司自上到下所有资源开放共享，欢迎有感恩之人、有理想之人加入我们。 公司执行“传帮带”， 新人进行一个星期考核没有问题与公司主管以上技术负责人签定《师傅带徒》协议，还要必须参加每周安排技术部门学习会议。
                为社会注入新的人才力量，带动建筑行业信息化发展。永大软件是有社会负责的公司。 </p>
        </div>
        </div>
</div>   

<% include ../footer.html %>