<% include ../header.html %>
<% include ../top-nav.html %>

<style>
    div.img{
        padding: 50px;
        text-align: center;
    }
    img.logosy{
        width: 800px;
        height: auto;
    }


</style>

<div class="jumbotron ">
        <div class="container">

        <div class="img">
            <h2 class="color-yongda">2005年，成立公司时使用的LOGO</h2>
            <img  src="/public/img/yongda-old.png">
            <h2 class="color-yongda">2018年，重新使用新的LOGO。</h2>
            <img class="logosy" src="/public/img/logosy.jpg">
        </div>

        </div>
</div>

<% include ../footer.html %>