<% include ../../header.html %>
 
<% include ../../top-nav.html %>
  
<style>

  .poductlist{
    padding-top: 100px;
  }
  
  .poductlist .thumbnail{
    min-height: 400px;
  }
  
  .poductlist .thumbnail .btn{
    margin-top: 20px;
  }
  
  .poductlist .thumbnail:hover{
    border: 1px solid #222;
  }
  
</style>
  
<div class="jumbotron ">
    <div class="container">

      <div class="row poductlist">
        <div class="col-md-offset-2 col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/public/img/app-header-bg.jpg" alt="...">
            <div class="caption">
              <h3>造价咨询项目管理系统</h3>
              <small>简单、高效、易用，只关注项目的全过程。</small>
              <p><a href="/product/ppms" class="btn btn-primary pull-right" role="button">更多</a> </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/public/img/bg/picjumbo.com_HNCK3558.jpg" alt="...">
            <div class="caption">
              <h3>永大网络造价平台 4.X</h3>
              <small>简洁、快捷、灵活、小巧</small>
              <p><a href="#" class="btn btn-primary pull-right" role="button">更多</a> </p>
            </div>
          </div>
        </div>

      </div>


    </div>
</div>
  
    
 
  
<% include ../../footer.html %>


