<% include ../../header.html %>
 
<% include ../../top-nav.html %>

<style>
  
  .titlepage{
    padding: 100px;
    text-align: center;
  }

  div.rowgroup{
    padding: 60px 0px;
  }

  img.ppmsimg{
    width: 600px;
    height: auto;
  }

  .clientlist .thumbnail{
    min-height: 200px;
  }

  .clientlist .thumbnail:hover{
    border-color: rgb(0, 103, 172);
  }
  
</style>

<div class="jumbotron ">
  <div class="container">


      <div class="rowgroup">
          <div class="row">
            <div class="col-md-5">
              <p  style="padding-top:30px;"> <strong>造价咨询项目管理系统</strong> 是从浙江多家造价咨询企业的高层和项目负责人反复沟通调研结果，开发出一套操作简单，
                真正项目业务标准化流程的管理系统，区别于OA类型的系统，实现系统内部数据交互；另外我们只为造价咨询企业定制开发。</p>
             <div style="text-align: center;padding-top:20px;">
              <button class="btn btn-lg btn-success"> 产品购买咨询, <i class="icon fa fa-phone"></i> 拔打0571-28221464转1</button>
            </div>

             
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
               <img src="/public/img/ppms/ppms-overview.png">
            </div>
          </div>
        </div>

<div class="rowgroup clientlist">
    <h2 style="text-align: center" class="color-yongda">典型客户</h2>


        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                
                <div class="caption">
                  <h3>万邦工程管理咨询有限公司</h3>
                  <p>2017年10月份使用 合同管理，用章申请，工资发放，造价咨询、钉钉移动审批等模块 </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  
                  <div class="caption">
                    <h3>浙江中恒工程造价咨询有限公司</h3>
                    <p>2017年6月份使用，合同管理，造价咨询、统计分析、钉钉移动审批等模块。 </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    
                    <div class="caption">
                      <h3>浙江省成套工程有限公司</h3>
                      <p>2017年12月份使用，合同管理，造价咨询、统计分析、钉钉移动审批等模块 </p>
                    </div>
                  </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  
                  <div class="caption">
                    <h3>杭州建业造价工程师事务所有限公司</h3>
                    <p>2018年3月份使用，合同管理，造价咨询、统计分析、钉钉移动审批等模块 </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  
                  <div class="caption">
                    <h3>杭州经纬工程管理咨询有限公司</h3>
                    <p>2018年4月份使用，合同管理，造价咨询、统计分析、钉钉移动审批等模块 </p>
                  </div>
                </div>
              </div>

              
        </div>
</div>


<div class="rowgroup">
  <div class="row">
    <div class="col-md-5">
      <h2 class="color-yonda">管理者(公司老板)</h2><hr>
      <p>需要了解公司项目总体进度和员工的完成率，可是实际中，
        因为项目多又杂，要求每个人都来汇报很不实际，无法达成我想要的目的</p>
      <small  class="color-yongda">系统在大家完成工作的同时，会将这些数据收集起来统一汇总分析。管理者在这里可以查看总体情况。</small>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <img class="ppmsimg" src="/public/img/ppms/11.png">
    </div>

  </div>
</div>

<div class="rowgroup">
    <div class="row">
      
      <div class="col-md-6">
          <img class="ppmsimg" src="/public/img/ppms/2.png">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <h2 class="color-yonda">总工(三级复核人)</h2><hr>
        <p>需要审核的项目又多又杂，还需要去找对应的项目经理拿待审项目资料。整个流程都要跑来跑去</p>
        <small class="color-yongda">审批资料已经归档好可以在线预览或标注修改，可以随时随地移动办公，在钉钉上即可查看并审批。</small>
      </div>
  
    </div>
</div>

<div class="rowgroup">
      <div class="row">
        <div class="col-md-5">
          <h2 class="color-yonda">项目负责人</h2><hr>
          <p>项目分配到个人以后，需要复印相关资料一人一份并开会熟悉资料等。没人在场还需会后再交接</p>
          <small class="color-yongda">直接在线分配项目，相关资料每个项目相关人员都可预览或下载修改。</small>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <img class="ppmsimg" src="/public/img/ppms/3.png">
        </div>
    
      </div>
</div>



<div class="rowgroup">
    <div class="row">
      
      <div class="col-md-6">
          <img class="ppmsimg" src="/public/img/ppms/4.png">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <h2 class="color-yonda">造价员</h2><hr>
        <p>接手项目太多，没有很好得统计汇总。无法定好下一年的目标以及对自己能力的了解</p>
        <small class="color-yongda">项目台账中显示所有自己经办或审核过的项目，选择以后还能查看具体的项目信息</small>
      </div>
  
    </div>
</div>


<div class="rowgroup">
    <div class="row">
      <div class="col-md-5">
        <h2 class="color-yonda">财务办公室</h2><hr>
        <p>项目开票需要找到项目经理面对面核对，回款以后还需要去通知，不方便；年底奖金发放和计算难以管理</p>
        <small class="color-yongda">开票和回款通知都可以钉钉自动提醒，无需人工记忆；奖金绩效等直接报表输出，方便快捷。</small>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
          <img class="ppmsimg" src="/public/img/ppms/5.png">
      </div>
  
    </div>
</div>
      

</div>
</div>
  
    
 
  
<% include ../../footer.html %>


