<% include ../header.html %>
<% include ../top-nav.html %>
<style>
.flat-blue.landing-page .navbar {
  background-color:  transparent;
  box-shadow: none; 
}
  
.landing-page .navbar.affix {
  background-color: rgba(255, 255, 255, 0.95) !important;
}
  
.flat-blue.landing-page .navbar.affix .navbar-nav > li > a {
   color: #353d47; 
}
  
.flat-blue.landing-page .navbar.affix .navbar-brand {
     color: #353d47; 
}
  
  
</style>

    <div class="jumbotron app-header">
        <div class="container">
            <h2 class="text-center"><i class="app-logo fa fa-connectdevelop fa-5x color-white"></i><div class="color-white">造价咨询项目管理系统</div></h2>
            <p class="text-center color-white app-description">简单、高效、易用，只关注项目的全过程。</p>
            <p class="text-center"><a class="btn btn-primary btn-lg app-btn" href="/product/ppms" role="button">更多 »</a></p>
        </div>
    </div>
    <div class="container-fluid app-content-a">
        <div class="container">        
          <div class="row text-center">
            <div class="col-md-4 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
                <h2>项目全流程</h2>
                <p>分配方案，项目实施，签发审批，财务开票。</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-4 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-inbox fa-stack-1x"></i>
                </span>
                <h2>大数据存储</h2>
                <p>组建企业内部的私有云分布式储存。</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-4 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-comments-o fa-stack-1x"></i>
                </span>
                <h2>钉钉深度集成</h2>
                <p>做为移动端使用，项目的通知以及移动现场上传文件。</p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        </div>
    </div>
    <div class="container-fluid app-content-b feature-1">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                </div>
                <div class="col-md-5 col-sm-6 text-right color-white">
                    <h2 class="featurette-heading">永大网络造价平台</h2>
                    <p class="lead">专注电力、水利、港口行业计价</p>
                    <h4>软件绿色小巧，不采用第三方组件，无需注册安装直接使用，易于拷贝移动，速度极快。</h4>
                    <p><a class="btn btn-default app-btn" href="#" role="button" style="background-color: transparent;border: 2px solid #FFF;color: #FFF;">更多 »</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid app-content-a">
        <div class="container">
            
            
        </div>
    </div>
    <div class="container-fluid app-content-b contact-us">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-6"><h2 class="color-white contact-us-header">关于我们</h2>
                <p class="color-white contact-us-description">要做只做最好，一直是我们永大人的产品追求。 </p></div>
                <div class="col-md-6">
                    <form>

                        <div class="row">
                            <div class="col-sm-6"><input id="name" name="name" type="text" class="form-control" placeholder="Full Name"> </div>
                            <div class="col-sm-6"><input id="email" name="email" type="email" class="form-control" placeholder="Email address"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><textarea id="message" name="message" class="form-control" placeholder="Your Message" rows="5"></textarea></div>
                        </div>
                        <div>
                            <button id="contact-submit" type="submit" class="btn btn-success pull-right">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 
  
<% include ../footer.html %>


