<% include ../header.html %>
<% include ../top-nav.html %>
<style>

  .flat-blue nav.affix-top img.yongdalogo{
        display:none;
    } 


   .flat-blue nav.affix img.yongdalogo_top{
        display:none;
    }

    img.yongdalogo_top{
        display:inherit;
    }
    
.flat-blue.landing-page .navbar {
  background-color:  transparent;
  box-shadow: none; 
}
  
.landing-page .navbar.affix {
  background-color: rgba(255, 255, 255, 0.95) !important;
}
  
.flat-blue.landing-page .navbar.affix .navbar-nav > li > a {
   color: #353d47; 
}
  
.flat-blue.landing-page .navbar.affix .navbar-brand {
     color: #353d47; 
}


  
  
</style>

    <div class="jumbotron app-header" >
        <div class="container">
            <h1 class="text-center" style="height: 100px;" ><div style="letter-spacing:8px; color: #ec971f" >只做最好! </div></h1>
            <p class="text-center  app-description" style="color: #ec971f">浙江省第三家建筑软件产品服务提供商。</p>
            <p class="text-center">
                <a class="btn btn-success btn-lg " style="width:150px;" href="/product" role="button">我们的产品</a>
                <a class="btn btn-info btn-lg " style="width:150px;" href="/download" role="button">下载中心</a>
            </p>
        </div>
    </div>
    <div class="container-fluid app-content-a">
        <div class="container">        
          <div class="row text-center">
            <div class="col-md-4 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x color-yongda"></i>
                </span>
                <h2>项目全过程</h2>
                <p>项目编审、跟踪审计、招标代理、PPP项目管理、财务开票、用章申请。</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-4 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-inbox fa-stack-1x color-yongda"></i>
                </span>
                <h2>大数据存储</h2>
                <p>组建企业内部的私有云分布式储存。</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-4 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-comments-o fa-stack-1x color-yongda"></i>
                </span>
                <h2>钉钉深度集成</h2>
                <p>做为移动端使用，项目的通知以及移动现场上传文件。</p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        </div>
    </div>

    <div class="container-fluid feature-1">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <img src="/public/img/index-budgetleft.jpg" class="color-yongda" style="width: 80%;height: auto; margin: 50px 10px 0px 20px; border: 2px solid rgb(0,103,172)">
                </div>
                <div class="col-md-5 col-sm-6 text-right color-white">
                    <h2 class="featurette-heading color-yongda">永大网络造价平台</h2>
                    <p class="lead color-yongda">专注电力、水利、港口行业计价</p>
                    <h4 class="color-yongda">软件绿色小巧，不采用第三方组件，无需注册安装直接使用，易于拷贝移动，速度极快。</h4>
                    <p><a class="btn btn-info app-btn" href="/product/budget3" role="button" >更多...</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid app-content-a " style="padding-bottom:0px;">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-8">
                    <h2 style="margin: 120px 0px 0px 10px;" class="color-yongda contact-us-description">永大软件只做最好，一直是我们永大人的产品追求。 </h2>
                </div>
                <div class="col-md-4">
                    <img src="/public/img/index-aboutright.png">
                </div>
            </div>
        </div>
    </div>
 
  
<% include ../footer.html %>


